@import "base.scss";
@import "buttons.scss";

.container {
  &__main--out {
    margin: 0 156px;
  }

  &__main--in {
    padding: 0 156px;
  }
}

.page-title {
  margin: 0;
  padding: 0;
  text-align: center;

  &--h1 {
    font-size: 24px;
    line-height: 36px;
    color: var(--vt-c-dark);
  }
}